<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map of Monuments</title>
    <style>
        #map { height: 500px; }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>
<body>
    <div id="map" data="{{ data.to_json(orient='records') }}" ></div>
    <script>
        var monumentData = JSON.parse(document.getElementById('map').getAttribute('data'));
        var map = L.map('map').setView([46.603354, 1.888334], 6); // Set initial map view to France
    
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
        }).addTo(map);
    
        monumentData.forEach(monument => {
            var marker = L.marker([monument['latitude'], monument['longitude']]).addTo(map);
            marker.bindPopup('<b>' + monument['name'] + '</b><br>' + monument['ID']);
        });
    </script>
</body>
</html>
